/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
.projectList :global .ant-card-meta-description {
  color: rgba(0, 0, 0, 0.45);
  height: 44px;
  line-height: 22px;
  overflow: hidden;
}
.projectList .cardTitle {
  font-size: 0;
}
.projectList .cardTitle a {
  color: rgba(0, 0, 0, 0.85);
  margin-left: 12px;
  line-height: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}
.projectList .cardTitle a:hover {
  color: #1890ff;
}
.projectList .projectGrid {
  width: 33.33%;
}
.projectList .projectItemContent {
  display: flex;
  margin-top: 8px;
  overflow: hidden;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
}
.projectList .projectItemContent a {
  color: rgba(0, 0, 0, 0.45);
  display: inline-block;
  flex: 1 1 0;
}
.projectList .projectItemContent a:hover {
  color: #1890ff;
}
.projectList .projectItemContent .datetime {
  color: rgba(0, 0, 0, 0.25);
  flex: 0 0 auto;
  float: right;
}
