/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
.basic-body {
  position: absolute;
  background-color: #fff;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}
